<h3>Adoption Counts</h3>

<table class="table table-hover">
  <tbody>
  <tr>
    <td>Total adoptions</td>
    <td class="text-right"><%= @ado_tot %></td>
  </tr>
  <tr>
    <td>Adopted</td>
    <td class="text-right"><%= @ado_acc %></td>
  </tr>
  <tr>
    <td>Orphans</td>
    <td class="text-right"><%= @ado_orp %></td>
  </tr>
  </tbody>
</table>
