<h3>Legacy stats</h3>
<table class="table table-hover">
  <tbody>
  <tr>
    <td>Total numer of people</td>
    <td class="text-right"><%= @peo_tot %></td>
  </tr>
  <tr>
    <td>No profile</td>
    <td class="text-right"><%= @peo_nop %></td>
  </tr>
  <tr>
    <td>Never edited legacy profile</td>
    <td class="text-right"><%= @peo_yes %></td>
  </tr>
  <tr><td>Edited legacy profile</td>
    <td class="text-right"><%= @peo_mig %></td>
  </tr>
  </tbody>
</table>
