<%= modal_dialog("Edit Languages") do %>
<p>This is the block that is supposed to implement the editing of available languages.</p>
<p>Find me in <code>app/views/profile/edit_languages.html.erb</code></p>
<% end %>
