<div class="bg-gray-100 pt-5">
<div class="container">
<% if I18n.locale == "fr" %>
  <%= render "layouts/elements/footer_fr" %>
<% else %>
  <%= render "layouts/elements/footer_en" %>
<% end %>
</div>
</div>
