---
# - name: Ensure traefik config file for people web app (untill we find out how to with labels...)
#   ansible.builtin.copy:
#     dest: "{{ traefik.config }}/people.yml"
#     content: |
#       http:
#         routers:
#           people:
#             tls: true
#             service: people
#             rule: Host(`{{ hosts.people }}`)
#         services:
#           people:
#             loadBalancer:
#               servers:
#                 -
#                   url: http://peoapp:3000

- name: Ensure people app server containers is running
  vars:
    dev_volumes:
      - "{{ people.srcdir }}:/srv/app"
    mandatory_volumes:
      - "{{ people.storage }}:/srv/app/storage"
      - "{{ people.filecache }}:/srv/filecache"
    all_volumes: '{{ mandatory_volumes + dev_volumes if people.env == "development" else mandatory_volumes }}'
  containers.podman.podman_container:
    name: peoapp
    image: "people:{{ people_image_version }}"
    env: &webappenv
      # ------------------------------ deployment-independent mandatory ENV vars
      RAILS_ENV: development
      SUPERUSERS: "${SUPERUSERS}"
      LOGFILE: log/dev
      NAME_CHANGE_REQUEST_EMAIL: 'giovanni.cangiani+peonc@epfl.ch'

      # -------------------------------------------------- with ok default value
      # APP_HOSTNAME: people.epfl.ch
      APP_HOSTNAME: "{{ PEOPLE_HOSTNAME }}"
      # ENABLE_DIRECT_UPLOADS: false
      # HIDE_ENS_ACCREDDS: true
      # INTRANET_RE: '^128\.17[89]'
      # RAILS_LOG_LEVEL: info in prod
      # if REDIS_CACHE is defined then redis is used otherwise default to memory
      # note that in dev cache is enabled only if presence of tmp/caching-dev.txt
      REDIS_CACHE: redis://cache:6379/0
      # SEEDS_PATH: db/seeds/data
      # USE_LOCAL_ELEMENTS: false
      ELEMENTS_VERSION: "{{ ELEMENTS_VERSION | default('8.3.0') }}"

      WSGETPEOPLE_CACHE: 0

      # ----------------------------------------------------------- dev specific
      # DEV_SEEDS_PATH: db/seeds_dev/data
      FORCE_AUDIENCE: "{{ FORCE_AUDIENCE | default('no') }}"
      RAILS_DEVELOPMENT_HOSTS: "{{ (people.env == 'development') | ternary(hosts.people, '') }}"
      ERROR_PAGES: "{{ ERROR_PAGES | default('prod') }}"
      YABEDA_DEBUG: true
      SKIP_API_ACCESS_CONTROL: "{{ SKIP_API_ACCESS_CONTROL | default('no') }}"

      # ---------------------------------------------------- transition specific
      ENABLE_ADOPTION: false
      # public address
      LEGACY_BASE_URL: "https://people.epfl.ch/legacy"

      HIDE_ENS_ACCREDDS: "{{ HIDE_ENS_ACCREDDS | default('yes') }}"
      NAME_CHANGE_REQUEST_EMAIL: "giovanni.cangiani+ncreq@epfl.ch"

      # ----------------------------- read in yml files (will go to config maps)

      # --> epflapi.yml
      CAMIPRO_PHOTO_KEY: "{{ _secrets.camipro_photo_key }}"
      CAMIPRO_PHOTO_HOST: "{{ people.camipro_host }}"
      ENABLE_API_CACHE: "{{ people.enable_api_cache }}"
      ENABLE_WEBMOCK: "{{ people.enable_webmock }}"
      EPFLAPI_BACKEND_URL: "{{ people.api_url }}"
      EPFLAPI_PASSWORD: "{{ _secrets.api.password }}"
      ISA_URL:  "{{ ISA_URL | default('https://isa-test.epfl.ch/services') }}"
      OFFLINE_CACHEDIR: "/srv/filecache"
      OASIS_BASEURL: "{{ people.oasis_url }}"
      OASIS_TOKEN: "{{ _secrets.oasis.token }}"

      # --> ollama.yml
      OLLAMA_URL: "{{ OLLAMA_URL | default('http://' ~ hosts.docker ~ ':11434') }}"
      # OLLAMA_URL: http://itsidevfsd0006.epfl.ch

      # OpenAI
      OPENAI_API_KEY: "{{ _secrets.inference.key }}"
      OPENAI_BASE_URL: "{{ OPENAI_URL | default('https://inference-dev.rcp.epfl.ch/v1') }}"

      # --> oidc.yml
      USE_KEYCLOAK: "{{ USE_KEYCLOAK | default('no') }}"
      ENTRA_TENANT_ID: "${DEV_ENTRA_TENANT_ID}"
      ENTRA_CLIENT_ID: "${DEV_ENTRA_CLIENT_ID}"
      ENTRA_SECRET: "${DEV_ENTRA_SECRET}"

      # OPDo Storage Server
      SPYWARE_URL: ${SPYWARE_URL}
      SPYWARE_KEY: ${SPYWARE_KEY}

    volumes: "{{ all_volumes }}"
    restart_policy: always
    state: started
    network:
      - traefik
      # - redis
      # - mariadb
    # generate_systemd: false
    # restart_sec: 10
    labels:
      traefik.http.routers.people.rule: "Host(`{{ hosts.people }}`)"
      traefik.http.routers.people.tls: "{{ tls_in_labels }}"
      traefik.http.routers.people.service: "people"
      traefik.http.services.people.loadbalancer.server.port: "{{ ports.people }}"
      traefik.http.routers.people.middlewares: peoblock
      traefik.http.middlewares.peoblock.basicauth.users: "{{ _secrets.people.auth.user }}:{{ _secrets.people.auth.pass | password_hash('md5') }}"



- name: Ensure people jobs supervisor is running
  vars:
    dev_volumes:
      - "{{ people.srcdir }}:/srv/app"
    mandatory_volumes:
      - "{{ people.storage }}:/srv/app/storage"
      - "{{ people.filecache }}:/srv/filecache"
    all_volumes: '{{ mandatory_volumes + dev_volumes if people.env == "development" else mandatory_volumes }}'
  containers.podman.podman_container:
    name: peojobs
    image: "people:{{ people_image_version }}"
    command: ["./bin/jobs"]
    env: *webappenv
    volumes: "{{ all_volumes }}"
    restart_policy: always
    state: started
    network:
      - traefik
      # - redis
      # - mariadb
    # generate_systemd: false
    # restart_sec: 10
