<h1>Sections</h1>
<table class="table table-sortable" data-tablesaw-sortable>
  <thead>
    <tr>
      <th data-tablesaw-sortable-col>Label</th>
      <th data-tablesaw-sortable-col>View Zone</th>
      <th data-tablesaw-sortable-col>Edit Zone</th>
      <th data-tablesaw-sortable-col>No. Boxes</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "section", collection:  @sections %>
  </tbody>
</table>
