<%= common_editor do %>
<ul class="nav nav-tabs mt-5" role="tablist">
  <% ["official", "usual"].each do |type| %>
    <%
      id = "name_change_#{type}"
      s = @type == type
      acls = s ? 'active' : ''
      selected = s ? "true" : "false"
      a = "profiles.name_change.select.#{type}"
    %>
    <li class="nav-item">
      <%= link_to t(a), "##{id}", id: "#{id}-tab",
        role: "tab",
        class: "nav-link #{acls}", data: { toggle: "tab" },
        aria: { controls: id, selected: selected }
      %>
    </li>
  <% end %>
</ul>
<div class="tab-content p-3">
  <% ["official", "usual"].each do |type| %>
    <%
      id = "name_change_#{type}"
      s = @type == type
      acls = s ? 'active' : ''
      selected = s ? "true" : "false"
    %>
    <%= tag.div(class: "tab-pane fade show #{acls}", id: id, role: "tabpanel", "aria-labelledby": "#{id}-tab") do %>
      <%= render "profiles/name_change/#{type}" %>
    <% end %>
  <% end # type loop%>
</div>
<% end # common editor %>
