<%= turbo_frame_tag "add_#{section.label}_box"  do %>
<p>
  <%= t "add_a_new" %>:<br/> 
  <% (boxes || []).each do |mb| %>
    <%= link_to( 
      mb.t_description, 
      new_profile_box_path(profile, model_box_id: mb.id),
      method: :get,
      data: {turbo_stream: true, turbo_method:'get'}
    ) %>
    <br/>
  <% end %>
</p>
<% end %>
