<div id="flash-messages">
  <% flash.each do |type, message|
    at = case type
    when "success"
      "success"
    when "alert"
      "warning"
    when "error"
      "danger"
    else
      "info"
    end
  %>
    <div class="alert alert-<%= at %> alert-dismissible" data-controller="flash" role="alert">
      <%= message %>
      <button type="button" class="close" data-action="flash#dismiss" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
</div>
