<%
  prop = (property ||= nil).present? ? "#{property}_visibility" : "visibility"
%>
<%= tag.div(
    id: dom_id(item, prop),
    class: "gc-visibility-container",
  ) do %>
  <%= form_with(
     method: "patch",
     url: visibility_path(model: item.class.name.underscore, id: item.id),
     remote: true,
     data: {controller: 'auto-submit'},
  ) do |form| %>
    <%= visibility_selector(form, item, property: property) %>
  <% end %>
  <span class="text" data-visibility-target="label">
    <%= t "visibility.short_label.#{item.send("#{prop}_option").label}" %>
  </span>
<% end %>
