<% # TODO: check accessibility %>
<%= tag.div(id: dom_id(item, :visibility), class: "gcpopover", data: {controller: "popover"}) do %>
  <%= visibility_icon_button(item) %>
  <template data-popover-target="content">
    <div class="visibility-container" data-popover-target="card">
      <%= form_with(
         method: "patch",
         url: visibility_path(model: item.class.name.underscore, id: item.id),
         remote: true, 
         class: ["visibility-radios"],
         data: {controller: 'auto-submit', "visibility-target": "form"},
      ) do |form| %>
        <%= visibility_selector(form, item) %>
      <% end %>
    </div>
  </template>
<% end %>
