<%= tag.div(
    id: dom_id(item, :visibility),
    class: "gc-visibility-container",
  ) do %>
  <%= form_with(
     class: ["visibility-radios"],
     method: "patch",
     url: visibility_path(model: item.class.name.underscore, id: item.id),
     remote: true, 
     data: {controller: 'auto-submit'},
  ) do |form| %>
    <%= visibility_selector(form, item) %>
  <% end %>
  <span class="text" data-visibility-target="label">
    <%= t "visibility.short_labels.#{item.visibility_option.label}" %>
  </span>
<% end %>
