<% variants = box.plural_variant %>
<section id="#{variants}_section">
<%= turbo_frame_tag "#{variants}_index", src: send("profile_#{variants}_path", @profile), loading: :lazy do %>
<% end %>
</section>
