<p>
The directory service people.epfl.ch displays information for people affiliated
at EPFL and allows you to enrich the personnal profile with a photo and other
information (education, professional course, publications, current work,
expertise, etc.)
</p>
<p>
A personnal page is located at
<code>https://people.epfl.ch/firstname.lastname</code>, where <code>firstname.lastname</code>
must be your EPFL mail ID. You may access a personnal people page via the
<em>SCIPER</em> number at <code>https://people.epfl.ch/sciper_number</code>.
</p>
<p>
Follow the "<em>Edit profile</em>" link to update your profile.<br/>
Get <a href="https://help-people.epfl.ch/" target="_blank">more help about this service</a>.
</p>
