<p>
L'application people.epfl.ch permet de trouver toutes les personnes affiliées
à l'EPFL, mais également d'enrichir son profil personnel avec une photo et du
texte (formations, parcours professionnel, publications, travaux,
compétences, etc.).
</p>
<p>
Toute personne à l'EPFL a sa page sur
<code>https://people.epfl.ch/firstname.lastname</code>, où <code>firstname.lastname</code>
est l'identificateur de votre adresse mail EPFL.

Vous pouvez aussi accéder à la page people à l'aide du numéro SCIPER :
<code>https://people.epfl.ch/sciper_number</code>.
</p>
<p>
Pour modifier sa page, utiliser le lien "<em>Edit profile</em>".<br/>
<a href="https://help-people.epfl.ch/" target="_blank">Plus d'infos sur ce service</a>.
</p>
