<p>
L’application people.epfl.ch permet de rechercher l’ensemble des personnes
affiliées à l’EPFL et d’enrichir son propre profil avec une photo ainsi que
diverses informations (formation, parcours professionnel, publications,
travaux, compétences, etc.).
</p>

<p>
Depuis le 27 août: prière de valider la migration de votre profil
(si vous l’avez modifié) en cliquant sur ‘<em>éditer votre profil</em>’
puis sur ‘<em>Voir mon profil</em>’ et ‘<em>Mettre en ligne</em>’.
</p>

<h3>Déploiement de la nouvelle version</h3>

<ul>
  <li>Dès le 27 août : tous les nouveaux profils sont créés avec la nouvelle version</li>
  <li>Profils jamais édités : migration automatique.</li>
  <li>
    Pages modifiées : vous devrez vérifier, corriger et valider la mise en
    ligne de votre nouveau profil (via le bouton ‘Editer votre profil’).
  </li>
  <li>
    Fin 2025 : tous les profils basculeront sur la nouvelle version, y
    compris ceux non encore validés par leur propriétaire.
  </li>
</ul>

<p>
  Aide en ligne:
  <%= link_to "help-people.epfl.ch", 'https://help-people.epfl.ch', target: 'blank' %>
</p>
<p>
  Signaler un problème:
  <a href='mailto:1234@epfl.ch?subject=Problème%20Application%20people'>1234@epfl.ch</a>
</p>
