<h2>Phase de test</h2>
<p>
Merci d'avoir participé à la phase de test de la nouvelle application <em>people</em>.
Voici quelques informations que vous pouvez lire avant de commencer.
</p><p class="alert alert-info">
Pour accéder à votre profil, veuillez ajouter votre numéro de <em>sciper</em>
ou votre nom d'utilisateur comme d'habitude à l'URL de base, <em>e.g.</em> :<br/>
<tt>https://people-next.epfl.ch/SCIPER</tt>
</p>
<h3>Adoption</h3>
<p>
Actuellement, l'ancienne application people fonctionne toujours et dessert le domaine
habituel <tt>people.epfl.ch</tt>.
</p><p>
Lorsque cette nouvelle version deviendra la version par défaut, il y aura une
<strong>période de transition</strong> pendant laquelle cette nouvelle application répondra au
domaine <tt>people.epfl.ch</tt> et agira en tant que <em>proxy</em> et servira
par défaut exactement <strong>la même page</strong> que l'ancienne application.
La seule différence sera que le lien <strong>edit</strong> amènera la page où
vous pouvez éditer votre <strong>nouveau profil.</strong>
</p><p>
Nous simulons ici cette période de transition.
</p><p>
Nous avons fait de notre mieux pour importer l'ancien, mais s'il vous plaît
vérifiez-le et profitez de l'occasion pour l'enrichir. Prenez votre temps car,
entre-temps, l'ancienne page sera toujours servie.
</p><p>
 Pour voir à quoi ressemblera votre nouveau profil, vous pouvez cliquer sur le lien
 <strong>Preview</strong> situé dans le coin supérieur droit de la page.
</p><p>
 Dans la page de prévisualisation, vous trouverez un bouton qui permettra à
 d'adopter votre nouveau profil et de vous débarrasser définitivement de l'ancien.
</p><p class="alert alert-warning">
Pendant ce test, votre profil peut être réinitialisé
à tout moment car nous testons également nos scripts de migration.
N'hésitez pas à jouer et à expérimenter avec le contenu : votre profil sera de
toute façon réinitialisé une dernière fois lorsque l'application passera en
production.
</p>

<h3>Visibilité</h3>
<p>
Pour cette première version, nous avons essayé d'imiter l'ancienne application autant que possible
. Il y a un aspect qui a été modifié et qui mérite d'être mentionné :
comment vous pouvez gérer la visibilité des différentes parties de votre profil.
</p>
<p>
 Le profil est composé de cases. Comme dans l'ancienne application, vous pouvez
 choisir de les rendre visibles ou non mais, désormais, vous pouvez également choisir de les rendre
 visibles uniquement aux visiteurs du réseau de l'EPFL.
</p><p>
 En outre, vous pouvez également définir la visibilité des éléments
 contenus dans les boîtes. Dans ce cas, la visibilité est binaire
 et secondaire à la visibilité de la boîte qui la contient. Par conséquent,
 si l'élément est défini comme visible mais que la boîte est cachée, l'élément
 lui-même sera caché.
</p>
