<p>
people.epfl.ch application allows you to search for all EPFL affiliates and
enhance your own profile with a photo and various information (education,
professional background, publications, work, skills, etc.).
</p>

<p>
Since 27 August: please validate the migration of your profile (if you have
modified it) by clicking on “<em>Edit your profile</em>”,
then “<em>View my profile</em>” and “<em>Publish</em>”.
</p>

<h3>Rollout of the new version</h3>

<ul>
  <li>From 27 August: all new profiles will be created using the new version.</li>
  <li>Profiles that have never been edited: automatic migration.</li>
  <li>
    Modified pages: you will need to check, correct and validate the online
    publication of your new profile (via the “<em>Edit your profile</em>” button).
  </li>
  <li>
    By the end of 2025: all profiles will switch to the new version,
    including those not yet validated by their owners.
  </li>
</ul>

<p>
  Online help:
  <a href='help-people.epfl.ch'>help-people.epfl.ch</a>
</p>
<p>
  Report a problem:
  <a href='mailto:1234@epfl.ch?subject=Issue%20With%20people'>1234@epfl.ch</a>
</p>
