- debug:
    var: people_config

- name: Ensure Kubernetes Secret with application DB/API credentials
  # notify:
  #   - restart webapp
  #   - restart jobs
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: "{{ kid.app_secrets }}"
        namespace: "{{ namespace }}"
      type: Opaque
      data: "{{ people_secrets }}"

- name: Create Kubernetes ConfigMap with application environment variables
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: "{{ kid.app_config }}"
        namespace: "{{ namespace }}"
      data: "{{ people_config }}"

- name: ConfigMap for recurrent jobs configuration
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: "{{ kid.jobs }}-rec"
        namespace: "{{ namespace }}"
      data:
       recurring.yml: "{{ lookup('template', 'recurring.yml') }}"

- name: Create Kubernetes Secret for mariadb server
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: "{{ kid.db_secrets }}"
        namespace: "{{ namespace }}"
      type: Opaque
      data:
        "ROOT_PASSWORD": "{{ _secrets.db.work.root_password | b64encode }}"
        work_username: "{{ _secrets.db.work.username | b64encode }}"
        work_password: "{{ _secrets.db.work.password | b64encode }}"
