---

# Reminder: include_tasks vs import_tasks
# import => the tasks in the imported file are copied here => they inherit the tags of the importing task
# include => the tasls frp, tje included are executed as an independent file => tags need to be



- include_vars: main.yml
  tags: always

- include_vars: config.yml
  tags: always

# - include_vars: release.yml
#   tags: always

- name: Debug configuration version
  ansible.builtin.debug:
    var: people_config_signature
  tags: debug

- name: Debug people version
  ansible.builtin.debug:
    var: people_version

- name: Debug people version
  ansible.builtin.debug:
    var: legacy_version


- name: Debug secrets
  ansible.builtin.debug:
    var: _secrets
  tags: debug

- name: Debug people var
  ansible.builtin.debug:
    var: people
  tags: debug

- name: Ensure openshift connection
  tags:
    - always
  ansible.builtin.shell: |
    cluster_url="{{ OC_CLUSTER }}"
    if ! oc whoami > /dev/null 2>&1 || ! oc whoami --show-server | grep -q "$cluster_url"; then
        echo "Logging into OpenShift cluster at $cluster_url..."
        oc login "$cluster_url" --web;
    else
        echo "Already logged into $cluster_url."
    fi
  args:
    executable: /bin/bash
  delegate_to: localhost
  changed_when: false

# base tasks that probably need to be run just once
- import_tasks: init.yml
  tags:
    - init

- import_tasks: storage.yml
  tags:
    - init
    - init.storage

- import_tasks: env.yml
  tags:
    - config
    - config.env

- import_tasks: run_mariadb.yml
  tags:
    - run
    - run.db
    - run.mariadb

- import_tasks: config_mariadb.yml
  tags:
    - config
    - config.db
    - config.mariadb

- import_tasks: run_redis.yml
  tags:
    - run
    - run.redis

- name: People admin
  tags:
    - never
  import_tasks:
    file: admin.yml

- import_tasks: run.yml
  tags:
    - run
    - run.app

- import_tasks: monitoring.yml
  tags:
    - config
    - config.monitoring

- import_tasks: network.yml
  tags:
    - route
    - service
    - network
