<h1>Selectable Properties</h1>
<table class="table table-sortable" data-tablesaw-sortable>
  <thead>
    <tr>
      <th data-tablesaw-sortable-col>Property</th>
      <th data-tablesaw-sortable-col>Label</th>
      <th data-tablesaw-sortable-col>Default</th>
      <th data-tablesaw-sortable-col>Value</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "sp", collection: @selectable_properties %>
  </tbody>
</table>
