#footer {
  position: relative;
}

#version {
  font-size: 50%;
  text-shadow: 0.5px 0.5px 0 #999;
  position: absolute;
  right: 2rem;
  bottom: 0.5rem;
}

.btn-link {
  padding: 0;

  span.label {
    padding: 0 0.4rem 0.4rem 0;
  }
}

// https://www.sitepoint.com/style-html-details-element/
summary h2 {
  display: inline;
  list-style-position: outside;
  // margin-left: 0.5rem;
  padding: 10px 10px 10px 20px;
}

summary::marker {
  color: $primary;
  font-size: 1.5em;
}

details {
  padding: 10px;
  background-color: $gray-100;
  border-radius: 5px;
  margin-bottom: 1rem;
}

details:hover {
  background-color: $gray-200;
}

.btn-mini {
  padding: .187rem .38rem;
  font-size: .6rem;
  line-height: 1;
  border-radius: 2px;
}

.form-inline {
  display: inline;
}