<%= turbo_frame_tag :accreds_index do %>
	<h3><%= t 'title.accreditations' %></h3>
	<%= turbo_frame_tag "accreds", src: nil, target: nil, data: {controller: "sortable"} do %>
		<% @accreds.each do |accred| %>
			<%= render 'accred', accred: accred, count: @accreds.count %>
		<% end %>
	<% end %>
<% end %>