<style>
  #translations-table .tr-hidden {
    display: none;
  }
</style>

<h1>Translations</h1>

<table id="translations-table" class="table", data-controller="trform">
  <thead>
    <tr>
      <th>Key</th>
      <th>EN</th>
      <th>FR</th>
      <th>IT</th>
      <th>DE</th>
      <th>done</th>
      <th>Last Updated</th>
    </tr>
  </thead>
  <tbody>
    <% @translations_by_file.each do |file, translations| %>
      <tr><td colspan="6"><h3><%= file %></h3></td></tr>
      <%= render partial: "translation", collection: translations %>
    <% end %>
  </tbody>
</table>
