<%= turbo_frame_tag :usual_name_change do %>
  <p><%= t('.instructions_html') %></p>
  <%= turbo_frame_tag :usual_name_change_form do %>
    <%= render "usual_name_changes/form", unc: @unc %>
  <% end %>
<% end %>
