<p><%= Faker::Movies::StarWars.quote %></p>
<%= link_to('replace', '/pocs/turboru?replace=1', class: "btn-cancel", method: :get, data: { turbo_stream: true, turbo_method: 'get' }) %>
<%= link_to('update', '/pocs/turboru', class: "btn-cancel", method: :get, data: { turbo_stream: true, turbo_method: 'get' }) %>
