<% content_for :menu do
  menu = [
    ["Dashboard", admin_dashboard_path],
    ["SP", admin_selectable_properties_path],
    ["SO", admin_special_options_path],
    ["MOTD", admin_motds_path],
    ["Boxes", admin_model_boxes_path],
    ["Sections", admin_sections_path],
    ["Change-Log", admin_versions_path],
  ]
  menu << ["Translations", admin_translations_path] if Rails.env.development?
  menu.each do |title, path|
%>
    <li>
      <% if current_page?(path) %>
        <span class="active"><%= title %></span>
      <% else %>
        <%= link_to title, path %>
      <% end %>
    </li>
  <% end %>
<% end %>
